
*.xml
/venv/
*.iml
.idea/dictionaries
V-REP_scenes-Nov2019/__MACOSX/._V-REP_scenes
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._README.txt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene1_UR5.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene2_example.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene2_UR5_csv.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene3_youBot.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene4_base_motions
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene4_example.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene4_youBot_csv.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene5_example
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene5_motion_planning.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene6_example.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene6_youBot_cube.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene7_example.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene7_MTB_csv.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene8_example.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/._Scene8_gripper_csv.ttt
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene4_base_motions/._yb1.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene4_base_motions/._yb2.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene4_base_motions/._yb3.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene4_base_motions/._yb4.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene4_base_motions/._yb5.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene5_example/._edges.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene5_example/._nodes.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene5_example/._obstacles.csv
V-REP_scenes-Nov2019/__MACOSX/V-REP_scenes/Scene5_example/._path.csv
V-REP_scenes-Nov2019/V-REP_scenes/README.txt
V-REP_scenes-Nov2019/V-REP_scenes/Scene1_UR5.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene2_example.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene2_UR5_csv.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene3_youBot.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_base_motions/yb1.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_base_motions/yb2.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_base_motions/yb3.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_base_motions/yb4.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_base_motions/yb5.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_example.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene4_youBot_csv.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene5_example/edges.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene5_example/nodes.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene5_example/obstacles.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene5_example/path.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene5_motion_planning.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene6_example.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene6_youBot_cube.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene7_example.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene7_MTB_csv.ttt
V-REP_scenes-Nov2019/V-REP_scenes/Scene8_example.csv
V-REP_scenes-Nov2019/V-REP_scenes/Scene8_gripper_csv.ttt
.idea/.name
*.pyc
__pycache__/finalProject.cpython-38.pyc
*.pyc
*.pyc
